/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
input,
textarea,
a {
  margin: 0;
  padding: 0;
  border: none;
}


body {
  color: #333;
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='29' height='50.115' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 10%, 1)'/><path d='M14.499 11.82L4.36 5.968l.002-11.706 10.14-5.855L24.638-5.74l-.001 11.707zm0 50.06L4.36 56.029l.002-11.706 10.14-5.855 10.137 5.852-.001 11.707zm14.498-25.117L18.858 30.91l.002-11.707L29 13.349l10.137 5.853-.001 11.706zm-29 0l-10.139-5.852.002-11.707L0 13.349l10.138 5.853-.002 11.706zm14.501-19.905L0 8.488.002-8.257l14.5-8.374L29-8.26l-.002 16.745zm0 50.06L0 58.548l.002-16.745 14.5-8.373L29 41.8l-.002 16.744zM28.996 41.8l-14.498-8.37.002-16.744L29 8.312l14.498 8.37-.002 16.745zm-29 0l-14.498-8.37.002-16.744L0 8.312l14.498 8.37-.002 16.745z'  stroke-linecap='square' stroke-width='1' stroke='hsla(259, 0%, 23%, 0.55)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #444;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #555;
}

p,
input,
textarea {
  margin-bottom: 20px;
}

small {
  display: block;
  margin-bottom: 20px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
  outline: none;
  transition: border 0.3s;
}

input:focus,
textarea:focus {
  border-color: #9d00ff;
}

a,
button {
  text-decoration: none;
  background-color: #814faf;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

button.full-width {
  display: block;
  text-align: center;
  width: 100%;
}

a,
button:hover {
  background-color: #9f67ac;
}

ul {
  list-style-type: none;
}

li {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li:last-child {
  border-bottom: none;
}

a.edit {
  background-color: #37ada9;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1em;
}

a.edit:hover {
  background-color: #195452;
}

a.delete {
  background-color: #a31000;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 1em;
}

a.delete:hover {
  background-color: #8a453d;
}

#newPostBtn {
  margin: 20px 0;
  background-color: #7b00be;
  padding: 10px 15px;
  font-size: 1.2em;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 3px;
}

#newPostBtn:hover {
  background-color: #8454ae;
}
